<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2978,536},{720,1480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1480}}</string>
                <key>sourceSize</key>
                <string>{720,1480}</string>
            </dict>
            <key>fish1_blowup_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_blowup_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_blowup_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_blowup_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_blowup_n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_blowup_n6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish1_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{100,142}</string>
            </dict>
            <key>fish2_blowup_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2096,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_blowup_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2292,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_blowup_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_blowup_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2684,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_blowup_n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_blowup_n6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2488,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish2_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{194,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,276}}</string>
                <key>sourceSize</key>
                <string>{194,276}</string>
            </dict>
            <key>fish3_blowup_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_blowup_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2606,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_blowup_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2234,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_blowup_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_blowup_n5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3252,2},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_blowup_n6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2880,2},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
            <key>fish3_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,536},{370,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,532}}</string>
                <key>sourceSize</key>
                <string>{370,532}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{3700,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59d35585307a13f78604128a818ade9:d300826209b00ecd5c28378fa9aff6e4:14ac73c88c3019464dc0f7ed87dc5bc2$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
