<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{12,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,36}}</string>
                <key>sourceSize</key>
                <string>{12,36}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{12,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,36}}</string>
                <key>sourceSize</key>
                <string>{12,36}</string>
            </dict>
            <key>game_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{186,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,38}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{186,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,37}}</string>
                <key>sourceSize</key>
                <string>{186,37}</string>
            </dict>
            <key>game_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{186,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,38}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,61},{114,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,28}}</string>
                <key>sourceSize</key>
                <string>{114,28}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,61},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,189},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,189},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,189},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,317},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,317},{60,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,107}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>ufo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,317},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0c19a4a49a06a0dde1a08c402036d3a:37441138f6de43ca5675a683700e7377:454e9ce649c79c377f9a07836b0b25b4$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
