<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{63,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,57}}</string>
                <key>sourceSize</key>
                <string>{63,57}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,21}</string>
            </dict>
            <key>game_loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,130},{186,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,38}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,130},{186,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,37}}</string>
                <key>sourceSize</key>
                <string>{186,37}</string>
            </dict>
            <key>game_loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,130},{186,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,38}}</string>
                <key>sourceSize</key>
                <string>{186,38}</string>
            </dict>
            <key>game_loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{114,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,28}}</string>
                <key>sourceSize</key>
                <string>{114,28}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n3.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>hero_blowup_n4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{102,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,126}}</string>
                <key>sourceSize</key>
                <string>{102,126}</string>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,88}}</string>
                <key>sourceSize</key>
                <string>{58,88}</string>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{60,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,107}}</string>
                <key>sourceSize</key>
                <string>{60,107}</string>
            </dict>
            <key>ufo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{914,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789360a15189996ff93af79d53e9a34b:d79a3a00de5751fd8bd03303ddf52709:454e9ce649c79c377f9a07836b0b25b4$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
